#header {
	width: 100%;
	padding: 30px 300px;
	background-color: #fff;
	position: fixed;
	box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
	z-index: 10;
	.inner {
		width: 100%;
		display: flex;
		justify-content: space-between;
		h2 {
			font-size: 20px;
			font-weight: 800;
			color: #111;
		}
		ul {
			display: flex;
			gap: 70px;
			li {
				font-size: 20px;
				font-weight: 800;
				cursor: pointer;
				transition: 0.5s;
				color: #111;
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 0%;
					height: 4px;
					background-color: #7843e9;
					border-radius: 5px;
					position: absolute;
					margin-top: 3px;
					left: 50%;
					transform: translateX(-50%);
					transition: 0.5s;
				}
				&.on {
					color: #7843e9;
					&::after {
						width: 100%;
					}
				}
			}
		}
	}
}
